.homeServicesHeader {
    padding-top: 6.4%;
    font-size: 48px;
    margin: 0;
    color: white;
    text-align: center;
}
.homeServicesBackground {
    background-image: url("backgroundHomeServices.png");
    background-color: #1C1C1C;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.homeServicesSubtitle {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    color: white;
    text-align: center;
    padding-top: 2.1%;
}
.homeServicesGrid {
    color: white;
    display: grid;
    justify-content: center;
    grid-gap: 100px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 17.5%;
    padding-bottom: 3.9%;
    margin-right: 17.5%;
    padding-top: 2.1%;

}
.homeServicesGrid div {
    border: 2px solid #FFFFFF;
    border-radius: 22px 22px 0 22px;
    max-width: 300px;
}
.homeServicesGrid p {
    margin: 0;
    padding: 15px 5px 15px 40px;
    font-size: 17px;
    font-weight: 700;
    text-align: start;
}
.homeServicesFlex {
    display: flex;
    justify-content: center;
}

.homeServicesGridTwo {
    height: auto;
    width: auto;
}
.settingImageGrid {
    max-height: 320px;
    max-width: 300px;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.settingIconsGrid {
    padding: 10px 55px 15px 0;
}
.homeServicesGridTwo {
    display: grid;
    height: 400px;
    background-color: #1C1C1C;
    grid-template-areas:
            "image image"
            "text icons";
}
@media (max-width: 1150px) {
    .homeServicesGrid {
        display: grid;
        color: white;
        justify-content: center;
        grid-gap: 100px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 17.5%;
        padding-bottom: 3.9%;
        margin-right: 17.5%;
        padding-top: 2.1%;
    }
}

@media (max-width: 750px) {
    .homeServicesGrid {
        display: grid;
        color: white;
        justify-content: center;
        grid-gap: 100px;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 17.5%;
        padding-bottom: 3.9%;
        margin-right: 17.5%;
        padding-top: 2.1%;
    }
}