.scrollbar-thumb {
    background-color: #797474 !important;
    width: 10px !important;
    border-radius: 100px !important;

}
.scrollbar-track-y {
    width: 10px !important;
    background-color: transparent !important;
}
