nav {
    height: 80px;
    background: #1C1C1C;
}
.navigateBarSetting {
    padding: 18px 37px;
    display: flex;
    justify-content: space-between;
}

.customLink {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}



.settingButtonNavigate {
    background-color: #1C1C1C;
    color: white;
    border: 1px solid #FFFFFF;
}

.settingButtonNavigate:hover {
    background-color: white;
    border: 1px solid #1C1C1C;
    color: #1C1C1C;
}