.mainApplicationBackground {
    background: #E0E0E0;
    height: 100%;
}

.mainApplicationBackground h1 {
    padding-top: 2.4%;
}

.mainApplicationBackground h1, p {
    margin: 0;
}

.mainApplicationGrid {
    display: grid;
    grid-column-gap: 21%;
    justify-content: center;
    grid-template-areas:
        "FIO WithUs";
}
@media (max-width: 1360px) {
    .mainApplicationGrid {
        display: grid;
        grid-column-gap: 21%;
        justify-content: center;
        grid-template-areas:
        "WithUs"
        "FIO";
    }
}
.mainApplicationWithUsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mainApplicationWithUs {
    justify-content: center;
    align-items: center;
    width: 480px;
    height: auto;
    background-color: #1C1C1C;
    border-radius: 60px 60px 0 60px;
    margin-bottom: 8%;
}

.mainApplicationWith {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.mainApplicationWith > a {
    white-space: nowrap;
}

.mainApplicationWithUs div {
    padding: 15% 7%;
}

.mainApplicationAboutFlex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mainApplicationWithUs div a{
    font-size: 48px;
    color: #FFFDFD;
    text-decoration: none;

}
.mainApplicationText {
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    overflow-wrap: break-word;

}

@media (min-width: 1260px) and (max-width: 1920px){
    .mainApplicationText p {
        width: 980px;

    }
}

@media (max-width: 1260px) {
    .mainApplicationText p {
        overflow-wrap: break-word;
        width: 100%;
    }


}
.settingMainApplicationParagraph {
    color: #FFFDFD;
    font-size: 24px;
}
.settingMainApplicationText {
    color: #FFFDFD;
    font-size: 20px;
}