.DropListSetting {
    width: 408px;
    height: 80px;
    margin-top: 3.5%;
    text-align: center;
}
.css-1s2u09g-control {
    border: 2px solid #000000!important;
    border-radius: 20px 20px 0 20px!important;
    background-color: #E0E0E0 !important;
}
.css-1pahdxg-control {
    border: 2px solid #000000!important;
    border-radius: 20px 20px 0 20px!important;
    background-color: #E0E0E0 !important;
}

.css-26l3qy-menu {
}