.mainFeedBackBackground {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    color: white;
    background-color: #1C1C1C;
    height: 100%;
    width: 100%;
    padding-bottom: 4%;
}
.mainFeedBackBackground a{
    color: white;
}

.mainFeedBackBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 40px 40px 0 40px;
    width: 1100px;
    height: auto;
}

.mainFeedBackBorder h1 {
    padding-top:3.7%;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}
.mainFeedBackBorder .settingTextParagraph {
    color: #C4C4C4;
    padding-top: 1%;
    font-weight: 700;
    margin: 0;
    font-size: 32px;
}
.mainFeedBackGrid {
    text-decoration: none;
    padding-top: 4.7%;
    display: grid;
    grid-template-areas:
    "imageVk imageMessage"
    "text1 text2";
    padding-bottom: 5.8%;
}
.mainFeedBackFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainFeedBackGrid p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    justify-items: center;
    margin: 0;
}

.mainFeedBackGrid p {
    max-width: 50%;
}

.mainFeedBackGrid img {
    align-items: center;
    margin: auto;
}

.mainFeedBackGrid a {
    text-decoration: none;
}
.settingTextParagraphTwo {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    color: #C4C4C4;
    padding-bottom: 3.7%;
}
@media (max-width: 1250px) {
    .mainFeedBackGrid {
        text-decoration: none;
        padding-top: 4.7%;
        display: grid;
        grid-template-areas:
        "imageVk"
        "text1";
        "imageMessage"
        "text2"
        padding-bottom: 5.8%;
    }
    .mainFeedBackFlex {
        padding-top: 4%;
    }
}