footer {
    display: flex;
    align-items: center;
    background-color: #1C1C1C;
    color: #515151;
    flex-wrap: nowrap;
}
footer p {
    font-size: 20px;
    width: 500px;
    font-weight: 700;
    padding: 15px 0 15px 20px;
}
footer a {
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #7BA6CD;
}

