.workStagePageHeader {
    text-align: center;
    font-weight: 400;
    margin: 0;
    font-size: 48px;
    padding-top: 2.1%;
}

.StageFlex {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    align-items: center;
    background: #E0E0E0;
    justify-content: center;
}
.StageGrid {
    display: grid;
    grid-template-areas:
    "image"
    "text";
}
.StageGrid p {
    width: 190px;
    text-align: center;
}
.stageFlexItem {
    display: flex;
    justify-content: center;
}
.stageFlexItem p {
    font-size: 24px;
    color: black;
    padding-top: 1%;
}
.StageFlex {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    align-items: center;
    background: #E0E0E0;
    justify-content: center;
}
.workStagePageGrid {
    padding-top: 2.5%;
    padding-bottom: 3%;
}
.workStagePageGrid img {
    height: 100%;

}
.workStagePageBackground {
     background-color: #E0E0E0;
}
.settingCustomLineApplication {
    margin: 0 1.6%;
}
@media (max-width: 1500px) {
    .StageFlex {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        align-items: center;
        padding-top: 2%;
        background: #E0E0E0;
        justify-content: center;
        padding-bottom: 2%;
    }

    .settingCustomLineApplication {
        transform: rotate(90deg);
        margin: 3% 0;
    }
}