.swiper-pagination-bullet-active {
    --swiper-theme-color: white;
}
.swiper-pagination-bullet {
    min-height: 12px;
    min-width: 12px;
}

.swiper {
    width: 100%;
    cursor: grab;
    background-color: #1C1C1C;
}

/*.swiper-slide {*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    !*width: 600px;*!*/
/*    background-color: #2312;*/
/*}*/

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.swiper-slide {
    margin-right: 20px;
}